<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'main1.css' %}">
</head>
<body>

    <div class="a1">
        <h1>CompanionRequest</h1>
        <div class="base">
            <a href="{% url 'base' %}"><h3 class="sas">Home</h3></a>
            <a href="{% url 'create_m' %}"><h3 class="sas">Add</h3></a>
        </div>
    </div>

    <div class="b1">
        <table>
            <caption><h3>CompanionRequest</h3></caption>
            <tr>
                <th>User</th>
                <th>Start location</th>
                <th>End location</th>
                <th>Date</th>
                <th>Description</th>
                <th>Detail</th>
            </tr>
            {% for m in object_list %}
            <tr>
                <td>{{ m.user }}</td>
                <td>{{ m.start_location }}</td>
                <td>{{ m.end_location }}</td>
                <td>{{ m.date }}</td>
                <td>{{ m.description }}</td>
                <td><a href="{% url 'detail_m' m.id %}">Get</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>
</html>
